<div id="layoutComponent">
    <div>
        <table>
            <tr>
                <th class="spacerCell">Attackers -></th>
                <th *ngFor="let type of attackerOrder; index as i" class="{{ type }}Col">{{ type }}{{ i }}</th>
            </tr>
                <tr *ngFor="let defenderType of defenderOrder; index as i">
                    <th>{{ defenderType }}</th>
                    <td *ngFor="let typeMultiplier of arrayMultipliers[i]">
                        {{ typeMultiplier }}
                    </td>
                </tr>
        </table>
    </div>
</div>
